* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primColor: #4E80EE;
    --secColor: #030616;
    --grayColor: #f0f2f7;
    --whiteOne: #F8FAFC;
    --whiteTwo: #FFFFFF;
}


body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: var(--grayColor);
}

header {
    text-align: center;
    padding: 50px 0;
    background: var(--whiteOne);
}

main {
    max-width: 600px;
    /* border: 1px solid black; */
    margin: 60px auto;
}

section li {
    line-height: 2;
}

section p {
    line-height: 4;
}

ol,
ul {
    list-style-position: inside;
}

ul {
    padding-left: 2rem;
    text-indent: -1rem;
}

h1,
h2 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: var(--primColor);
}

header h1 {
    font-size: 2.25rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
     margin-top: 34px;
}

hr {
    margin: 20px 0;
}

.bold {
    font-weight: bold;

}
